image: cnrancher/cn-rke-tools:{{build.tag}}
manifests:
  -
    image: cnrancher/cn-rke-tools:{{build.tag}}-linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: cnrancher/cn-rke-tools:{{build.tag}}-linux-arm64
    platform:
      architecture: arm64
      os: linux
